<div id="container">
	<nav class="nav">
		<a class="nav-link active" href="/">Home</a>
		<a class="nav-link" href="#">Saved Articles</a>
	</nav>

	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron" id="header">
				<h1>Get Articles from the <span class="nyt-font">New York Times<span></h1>
				<h3>Click the button to get random articles</h3>

				<button type="button" class="btn btn-primary">Get Articles</button>
			</div>
			<div id="articles"></div>
			<div id="notes"></div>
		</div>
	</div>
</div>