<div id="container">
	<nav class="nav">
		<a class="nav-link active" href="/">Home</a>
		<a class="nav-link" href="#">Saved Articles</a>
	</nav>

	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron" id="header">
				<h1>Get Articles from the <span class="nyt-font">Huffington Post<span></h1>
				<h3>Click the button to get random articles</h3>

				<a href="/scrape"><button type="button" class="btn btn-info">Get Articles</button></a>
			</div>
				<div id="articles">
					{{#each articles}}
						{{this.title}}
						{{this.link}}
					{{/each}}
				</div>
			<div id="notes"></div>
		</div>
	</div>
</div>